.area {
  background-color: #00063F;  
}

.inputContainer {
  display: flex;
  justify-content: center;
}

input {
  width: 24em;
  height: 1.5em;
  background-color: #00063F;
  border-radius: 1px;
  padding-left: 0.5em;
  font-family: 'Popins';
  font-style: italic;
  font-weight: 200;
  border: 1px solid #FF62F9;
}