@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=Montserrat:wght@200;400&family=Poppins:wght@800&family=Rajdhani:wght@400;600;700&family=Roboto+Mono:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer {
  margin-top: 4em;
  margin-left: 2em;
  display: flex;
  height: 6vw;
  border-radius: 10px;
  width: 25vw;
  background-color: #FF62F9;
}

.cardImage {
  background-image: url("../../assets/Img/rickandmorty_card_cover.png");
  background-size: cover;
  width: 20%;
}

.imageStyle {
  height: 6vw;
}

.cardText {
  height: 2vh;
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
}

.textStyle {
  color: #00063F;
  font-family: 'Poppins', sans-serif;
}

.releaseDate {
  margin-top: 1.6em;
}