@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Poppins:wght@800&family=Roboto:wght@500;900&display=swap');

.imageAndTitleArea {
  justify-content: center;
}

.imageContainer {
  background-image: url('../../assets/Img/rickandmorty_header.png');
  background-position: center;
  background-size: cover;
  height: 55vh;
  width: 100%;
  filter: blur(1px);
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.title {
  font-style: normal;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  color: #00C5C0;
}

@media only screen and (max-width: 375px){ /*iPhone SE*/
  .imageContainer {
    height: 35vh;
    width: 100%;
  }

  .title {
    font-size: 2em;
  }
}

@media only screen and (min-width: 376px){ /*iPhone XR*/
  .imageContainer {
    height: 25vh;
    width: 110%;
  }
  
  .title {
    font-size: 2em;
  }
}
