@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Poppins:wght@800&family=Roboto:wght@500;900&display=swap');

.imageContainer {
  background-image: url('../../assets/Img/rickandmorty_header.png');
  background-position: center;
  background-size: cover;
  height: 55vh;
  width: 100%;
  filter: blur(1px);
}

.titleContainer {
  text-align: center;
  margin-top: -0.8em;
}

.title {
  font-style: normal;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  color: #00C5C0;
}