@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.container{
  display: flex;
  height: 20vh;
  margin-top: 4em;
  justify-content: center;
}

.plusButton{
  width: 13vw;
  height: 3vh;
  background-color: #541567;
  padding: 0.7em;
  border-radius: 6px;
  cursor: pointer;
}

.buttonText {
  font-family: 'Poppins';
  font-weight: 700;
  color: #00C5C0;
  font-size: large;
}

.disabledButton {
  width: 13vw;
  height: 3vh;
  background-color: #14021a;
  padding: 0.7em;
  border-radius: 6px;
}

.disabledButtonText {
  font-family: 'Poppins';
  font-weight: 700;
  color: #6d6d6d;
  font-size: large;
}

@media only screen and (max-width: 375px){ /*iPhone SE*/
  .plusButton {
    width: 25vw;
    height: 4vh;
  }
  
  .buttonText {
    width: 25vw;
  }
}

@media only screen and (max-width: 414px){ /*iPhone XR*/
  .plusButton {
    width: 25vw;
    height: 4vh;
  }
  
  .buttonText {
    width: 25vw;
  }
}